@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.menu {
  grid-row: 1 / 5;
  background-color: #1992d4;
  padding-left: 0.5em;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
  gap: 8px;
}

.title {
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
}

.logo {
  height: 40px;
  width: 40px;
  filter: invert(100%) sepia(2%) saturate(564%) hue-rotate(227deg) brightness(122%) contrast(100%);
}

.menu-icon {
  height: 25px;
  width: 25px;
  filter: invert(100%) sepia(2%) saturate(564%) hue-rotate(227deg) brightness(122%) contrast(100%);
}

ul, li {
  list-style-type: none;
  padding: 8px;
  color: white;
}

li {
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  gap: 1em;
  align-items: center;
}

.top-bar{
  display: flex;
  flex-direction: column;
  padding: 1em 2em 2em 2em;
  z-index: 1000;
  box-shadow: 1px 1px 5px gray;
}

.search-area {
  display: flex;
  justify-content: space-between;
}

#search-bar {
  width: 35em;
  height: 1.75em;
  background-color: #e2e8f0;
  border: none;
  border-radius: 1em;
  padding-left: 1.5em;
  box-shadow: 1px 1px 5px gray;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.search-icon {
  height: 25px;
  width: 25px;
}

.notification {
  display: flex;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
}

.notification-icon,
.user-icon {
  height: 25px;
  width: 25px;
}

.name {
  font-size: 1em;
  font-weight: bolder;
}

.action-menu,
.profile {
  display: flex;
  gap: 1em;
  padding-top: 0.5em;
}

.action-menu {
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: 2em;
}

.action {
  color: white;
  font-weight: bolder;
  border: none;
  background-color: #1992d4;
  padding: 0.7em 2em 0.7em 2em ;
  border-radius: 3em;
}

.profile {
  align-items: center;
}

.profile-pic {
  height: 70px;
  width: 70px;
}

.dashboard {
  padding-right: 1em;
  display: grid;
  background-color: #e2e8f0;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1em;
}

.greeting {
  font-size: 0.8em;
  font-weight: bolder;
}

.profile-text {
  margin-top: -0.4em;
  font-size: 1.2em;
  font-weight: bolder;

}

.project-items {
  padding-left: 1.2em;
  grid-row: 1 / 3;
  grid-column: 1 /2;
}

.project-list-title,
.project-title,
.announcments-tag,
.trending-title
{
  font-size: 1.2em;
  font-weight: bolder;
}

.project-content {
  color: #767676;
}

.project-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
  gap: 1.2em;
}

.project-item {
  width: 24em;
  height: 14em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 5px gray;
  border-left: solid 0.5em orange;

}

.project-item > * {
  padding-left: 2em;
  padding-right: 1em;
}

.project-icon {
  width: 26px;
  height: 26px;
}

.project-item > div {
  display: flex;
  gap: 1.75em;
  justify-content: flex-end;
}

.announcments-items,
.trending-items{
  display: flex;
  flex-direction: column;
  padding: 1.2em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 5px gray;
}

.announcments-title {
  font-size: 1em;
  font-weight: bolder;
}

.announcment-content {
  color: #767676;
  font-size: 0.8em;
}

.announcments-item {
  border-bottom: solid #919191 1px;
}

.trending-pics {
  width: 32px;
  height: 32px;
}

.trending-item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.trending-item > div {
  font-size: 0.8en;
}

.trending-tag {
  margin-bottom: -16px;
}

.trendeing-user {
  color: #767676;
}
